<style>
	.footer {
    position: static;
    left: 0;
    bottom: 0;
    width: 100%;
    padding-top: 1.5%;
    padding-bottom: : 0.5%;
    color: white;
    text-align: center;
	}
	.link {
		color: red;
	}
</style>

<div class="footer"> 
	<div class="links"> © 2018 Copyright: 	
  	<a href= "https://www.github.com/aakashjhawar" target="_blank" > Aakash Jhawar </a>
	</div>
</div>